{{- $name := promptStringOnce . "name" "Full name for git" "Riccardo M. Cefala" -}}
{{- $email := promptStringOnce . "email" "Email for git (use the right one per machine)" "riccardo@cefala.net" -}}

[data]
    name = {{ $name | quote }}
    email = {{ $email | quote }}
